<h1><%= @recipe.title %></h1>
<p><%= @recipe.duration %></p>
<% if(@recipe.video) %>
	<div>
		<iframe width="560" height="315" src="<%= @recipe.video%>" frameborder="0" allowfullscreen></iframe>
	</div>
<%  else  %>
	<div>
		<img src="<%= @recipe.image %>">
	</div>
<% end %>

<p><%= @recipe.description %></p>
<p><%= @recipe.recipe_steps %></p>
<a class="edit" href="/recipe<%= @recipe.id %>/edit">edit</a>

<form class="delete" action="/recipe/<%= @recipe.id %>" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete">
</form> 