<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

    <% @recipes.each do |recipe| %>
      <div>
        <h1><%= link_to recipe.title, recipe %></h1>
        <p><%= recipe.description %></p>
        <p><%= recipe.duration %></p>
        <%= image_tag recipe.image %>
        <%= link_to 'Edit', edit_recipe_path(recipe) %>
        <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
