<%= form_with(model: item, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :title, value: item.title %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration, id: :duration, value: item.duration %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :description, value: item.description %>
  </div>

  <div class="field">
    <%= form.label :steps %>
    <%= form.text_field :steps, id: :steps, value: item.steps %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :url, value: item.url %>
  </div>

  <div class="field">
    <%= form.label :video_URL %>
    <%= form.text_field :video, id: :video, value: item.video%>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :image, value: item.image %>
  </div>

  <div class="field">
    <%= form.label :ingredients %>
     <% Item.all.each do |item| %>
     	<p>
     		<%= form.check_box "item[item_ids][]", item.id, form.object.items.include?(item) %>
        <%= item.name %>
     	</p>
        
      <% end %>
  </div>
      <div>
     
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
