<h1><%= @user[:first_name] %> <%= @user[:last_name]%></h1>
<p>Email : <%= @user[:email] %></p>
<p>Age : <%= @user[:age] %></p>
<a href="/users/<%= @user[:id] %>/edit">edit</a>

<form action="/users/<%= @user[:id] %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form> 
